body {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

mark {
	color: yellow;
	background-color: red;
	padding: 10px;
	font-size: 40px;
	font-weight: bold;
}

.Text {
	line-height: 2.0;
}

.Button {
	width: 150px;
	height: 40px;
	font-size: 25px;
}